@import url("https://use.typekit.net/cla3vbk.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Roc Grotesk", sans-serif;
  @apply text-blue;
}